<div style="display:none;">
  <div id="rupture_disk_box">
    <div style="padding-top:10px;"><b><u>1) Design Basis</u></b></div>
    <table id="rupture_design_basis" style="width:85%">
      <tr>
      <th colspan="2">Sizing Basis</th>
      <th colspan="2">Minimum Temperature</th>
      <th colspan="2">Maximum Temperature</th>
      </tr>
      <tr>
        <td>Scenario</td>
        <td>Closed Outlet On Vessel</td>
        <td>Scenario</td>
        <td>Closed Outlet On Vessel</td>
        <td>Scenario</td>
        <td>Closed Outlet On Vessel</td>
      </tr>
      <tr>
        <td>Identifier</td>
        <td>3&Prime; Gate Valve</td>
        <td>Identifier</td>
        <td>3&Prime; Gate Valve</td>
        <td>Identifier</td>
        <td>3&Prime; Gate Valve</td>
      </tr>
      <tr>
        <td>Required Area</td>
        <td>12.34&nbsp;&nbsp;&nbsp;<span class="area_orifice_unit"></span></td>
        <td>Temperature</td>
        <td>-20&nbsp;&nbsp;&nbsp;<span class="temperature_general_unit"></span></td>
        <td>Temperature</td>
        <td>450&nbsp;&nbsp;&nbsp;<span class="temperature_general_unit"></span></td>
      </tr>
      <tr>
        <td>System Design Pressure</td>
        <td><%= f.text_field :system_design_pressure, :style => "width:50px;", :id => "rupture_design_pressure" %>&nbsp;&nbsp;<span class="pressure_general_unit"></span><a href="#" id="set_pressure">&nbsp;&nbsp;&nbsp;Set Pressure</a></td>
        <td>System Min Design Temperature</td>
        <td><%= f.text_field :system_min_design_temp, :style => "width:50px;", :id => "rupture_min_design_temp" %>&nbsp;&nbsp;&nbsp;<span class="temperature_general_unit"></span></td>
        <td>System Max Design Temperature</td>
        <td><%= f.text_field :system_max_design_temp, :style => "width:50px;", :id => "rupture_max_design_temp" %>&nbsp;&nbsp;&nbsp;<span class="temperature_general_unit"></span></td>
      </tr>
    </table>
    <br>
    <div style="padding-top:10px;padding-bottom:10px;"> <b><u>2) Rupture Disk Selection Basis</u></b></div>
    <div>
      <span style="float:left;margin-right:40px;"> Location Characterization&nbsp;&nbsp;<%= f.select :discharge_location,options_for_select(StaticData.discharge_location),{},:class => 'discharge_location'%></span>
      <span style="float:left;margin-right:40px;"> Flange Type&nbsp;&nbsp; <%= f.select :flange_type,options_for_select(StaticData.flange_type),{},:class => 'flange_type'%></span>
      <span style="float:left;margin-right:40px;"><input type="button" id="rupture_disk_design_button" value="Design"></span>
    </div>
    <div><br><br><br><a href="#" id="add_rupture_disk">Add Rupture Disk</a><br></div>
    <table style="width:97%" id="rupture_disks_table">
      <tr>
        <th>No.</th>
        <th>RD Tag</th>
        <th>Body Size</th>
        <th>ENFA</th>
        <th>Inlet Flange</th>
        <th>Outlet Flange</th>
        <th>Best Pressure</th>
        <th>Kr</th>
        <th>Uncertainly F.</th>
        <th>Non F. Design</th>
        <th>Piping</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2"></th>
        <th><%= @fitting_pipe_size_unit %></th>
        <th><span class="area_orifice_unit"></span></th>
        <th colspan="2"></th>
        <th><span class="pressure_general_unit"></span></th>
        <th colspan="5"></th>
      </tr>
      <% if @relief_device_sizing.relief_device_rupture_disks.empty? %>
          <% @unique_id = Time.now.to_i %>
          <% @rupture_disk = @relief_device_sizing.relief_device_rupture_disks.new %>
          <%= render :partial => 'rupture_disks' %>
      <% else %>
          <% @relief_device_sizing.relief_device_rupture_disks.each_with_index do |rupture_disk| %>
              <% @unique_id = Time.now.to_i+rupture_disk.id %>
              <% @rupture_disk = rupture_disk %>
              <%= render :partial => 'rupture_disks' %>
          <% end %>
      <% end %>
    </table>
    <label class="rupture_diff_area_orifice">*Need <label id="rupture_need_area_orifice">0</label> <span class="area_orifice_unit"></span> more</label>
    <table style="width:50%;" id="valve_piping_table">
      <tr>
        <th colspan="2">Piping</th>
      </tr>
      <tr>
        <td>Pipe Material</td><td><%= f.select :rupture_pipe_material, @pipes.collect{|p| ["#{p["material"]} - #{p["conditions"]}", p["id"]]}, :prompt => true %></td>
      </tr>
      <tr>
        <td>Pipe Roughness</td><td><%= f.text_field :rupture_pipe_roughness, :class => "small-text-100" %>&nbsp;<%= @fitting_pipe_size_unit %></td>
      </tr>
    </table>
    <br>
    <div style="padding-top:10px;padding-bottom:10px;"> <b><u>3) Acceptable Location Check</u></b></div>
    <div><a href="#" id="add_rupture_location">Add Location</a><br></div>
    <table style="width:100%;border: 0;margin:0;"><tr><td style="background: #ffffff;border: 0;">
    <table style="width:99%" id="rupture_location_table">
      <tr>
        <th>No.</th>
        <th>Location</th>
        <th>Limiting Fitting</th>
        <th>Size</th>
        <th>Contact Fluid Phase</th>
        <th>Acidic Conditions</th>
        <th>High Temp. Conditions </th>
        <th>H2S Environment</th>
        <th>Acceptability</th>
        <th>Use</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="3"></th>
        <th><%= @fitting_pipe_size_unit %></th>
        <th colspan="7"></th>
      </tr>
      <% if @relief_device_sizing.relief_device_rupture_locations.empty? %>
          <% @unique_id = Time.now.to_i %>
          <% @rupture_location = @relief_device_sizing.relief_device_rupture_locations.new %>
          <%= render :partial => 'rupture_locations' %>
      <% else %>
          <% @relief_device_sizing.relief_device_rupture_locations.each_with_index do |location| %>
              <% @unique_id = Time.now.to_i+location.id %>
              <% @rupture_location = location %>
              <%= render :partial => 'rupture_locations' %>
          <% end %>
      <% end %>
    </table>
    </td> <td style="background: #ffffff;border: 0;"><input type="button" id="validate_btn" value="Validate"></td></tr></table>

    <br>
    <%= link_to "Add", "#", :id => "add_new_pipe_sizing" %>&nbsp;|&nbsp;<%= link_to "Close", "#", :id => "close_rupture_disk" %>
  </div>
</div>




<style type="text/css">
    #rupture_disk_box
     {
        font: Arial,Helvetica,sans-serif;
        font-size: 12px;
    }
</style>

<script type='text/javascript'>

    //update sequence of all rupture devices
    function update_sequence_rupture() {
        $("td[id^='sequence_rupture_disk']").each(function (index, value) {
            //sequence should not start with zero, but array starts with 0 index
            index = index + 1;
            $(this).empty().append(index);
        });
    }
    $("#add_rupture_disk").click(function () {
        $.get("<%= relief_device_sizing_rupture_disks_path(1)%>", function (data) {
            $("#rupture_disks_table").append(data);
            update_sequence_rupture();
        });
    });
    $("a.delete_rupture_disk").live('click', function () {
        var id = $(this).attr('id');
        if ($("td#sequence_rupture_disk_" + id).text() > 1) {
            $("tr#row_" + id).hide();
            //remove id "sequence" from hidden rows
            //otherwise this interfers with sequence updater
            $("td#sequence_rupture_disk_" + id).attr('id', "");
            $("input#destroy_" + id).attr('value', 1);
            update_sequence_rupture();
        }
    });

    //update sequence of all rupture locations
    function update_sequence_rupture_location() {
        $("td[id^='sequence_rupture_location']").each(function (index, value) {
            //sequence should not start with zero, but array starts with 0 index
            index = index + 1;
            $(this).empty().append(index);
        });
    }
    $("#add_rupture_location").click(function () {
        $.get("<%= relief_device_sizing_rupture_locations_path(1)%>", function (data) {
            $("#rupture_location_table").append(data);
            update_sequence_rupture_location();
        });
    });
    $("a.delete_rupture_location").live('click', function () {
        var id = $(this).attr('id');
        if ($("td#sequence_rupture_location_" + id).text() > 1) {
            $("tr#row_" + id).hide();
            //remove id "sequence" from hidden rows
            //otherwise this interfers with sequence updater
            $("td#sequence_rupture_location_" + id).attr('id', "");
            $("input#destroy_" + id).attr('value', 1);
            update_sequence_rupture_location();
        }
    });

    $('#relief_device_sizing_rupture_pipe_material').change(function (e) {
        if ($(this).val() == "") {
            $('#relief_device_sizing_rupture_pipe_material').val('');
            return false
        }
        $('#relief_device_sizing_rupture_pipe_roughness').val($('body').data('pipes')[$(this).val()].roughness_recommended);
    });


    // close link validation
    $('#close_rupture_disk').click(function (e) {
        var min_pressure = 10000;
        var total_orificearea = 0;
        var location_use = 0;
        var close='true';
        //A rupture device is missing a tag
        $("input[id^='rdtag_']").each(function() {
            if(this.value == ''){
                alert("A Rupture Disk is missing a tag");
                close = false;
                return false
            }
        });
        //The lowest set pressure in the rupture device table does not exceed the System Design Pressure value
        $("input[id^='rupture_burstpressure_']").each(function() {
            //add only if the value is number
            if(!isNaN(this.value) && this.value.length!=0) {
                if(min_pressure>parseFloat(this.value)) {
                    min_pressure=parseFloat(this.value);
                }
            }
        });
        if(($("#rupture_design_pressure").val() < min_pressure) && (min_pressure!=10000) ){
            alert("rupture device pressure exceeded the System Design Pressure value");
            close = false;
            return false
        }
        //The total Orifice Area selected is not less than the Required Area of the Design Basis
        $("input[id^='enfa_']").each(function() {
            //add only if the value is number
            if(!isNaN(this.value) && this.value.length!=0) {
                total_orificearea= total_orificearea + parseFloat(this.value);
            }
        });
        if(total_orificearea < 12.34){
            alert("The total Orifice Area selected is not greater than the Required Area of the Design Basis");
            close = false;
            $("#rupture_need_area_orifice").empty().append(12.34-total_orificearea);
            $(".rupture_diff_area_orifice").attr("style", "color:red");
            return false
        } else {
            $("#rupture_need_area_orifice").empty().append(0);
        }
        //The total Orifice Area selected is not less than the Required Area of the Design Basis
        $("input[id^='rupture_location_use_']").each(function() {
            //add only if the value is number
            if(this.checked) {
                location_use =1;
                // The location tag for the selected location must be provided
                var id = $(this).attr("id").slice(21);
                if($("#location_" + id).val() == ''){
                    alert("The location tag for the selected location must be provided");
                    close = false;
                    return false
                }
            }
        });
        if(location_use == 0){
            alert("A location has to be select");
            close = false;
            return false
        }

        if(close == 'true'){
            $.colorbox.close();
            return false
        }
    });


    // Validate click
    $("#validate_btn").click(function () {
    });


    $('#relief_device_sizing_system_design_pressure').live('change', function() {
        $("#rupture_design_pressure").val($(this).val());
    });
    $('#rupture_design_pressure').live('change', function() {
        $("#relief_device_sizing_system_design_pressure").val($(this).val());
    });

</script>