<%= fields_for @location do |f| %>
<tr id=<%= "row_#{@unique_id}"%> >
	<td id=<%= "sequence_location_#{@unique_id}"%>>1</td>
	<%= f.hidden_field :id, :name =>  "location_attributes[#{@unique_id}][id]" %>
	<%= f.hidden_field :_destroy, :name =>  "location_attributes[#{@unique_id}][_destroy]", :value => 0, :id => "destroy_#{@unique_id}" %>
    <td><%= f.text_field :location, :name =>  "location_attributes[#{@unique_id}][location]" , :style => "width:100px;" , :id => "location_#{@unique_id}"%></td>
    <td><%= f.text_field :limiting_fitting, :name =>  "location_attributes[#{@unique_id}][limiting_fitting]" , :style => "width:100px;" , :id => "limiting_fitting_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][size]",options_for_select(PipeSizing.pipe_sizes(@fitting_pipe_size_unit).collect { |p| [raw(p[:name]), p[:value]] }.insert(0, ''),@location.size),:class => 'designation', :id => "pipe_size_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][contact_fluid_phase]",options_for_select(StaticData.relief_phase,@location.contact_fluid_phase),:class => 'designation', :id => "contact_fluid_phase_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][acidic_conditions]",options_for_select(StaticData.yes_no,@location.acidic_conditions),:class => 'designation', :id => "acidic_conditions_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][high_temp_conditions]",options_for_select(StaticData.yes_no,@location.high_temp_conditions),:class => 'designation', :id => "high_temp_conditions_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][h2s_environment]",options_for_select(StaticData.yes_no,@location.h2s_environment),:class => 'designation', :id => "h2s_environment_#{@unique_id}"%></td>
    <td><%= select_tag "location_attributes[#{@unique_id}][acceptability]",options_for_select(StaticData.yes_no,@location.acceptability),:class => 'designation', :id => "acceptability_#{@unique_id}"%></td>
    <td><%= radio_button "relief_device_sizing", "pressure_relief_valve_location",@location.location, :id => "location_use_#{@unique_id}"  %></td>
	<td><%= link_to "X", "#", :id => "#{@unique_id}", :class => "delete_location" %></td>
</tr>
<% end %>
