<div class="colorbox-dialog">
<%= form_for unit, :url => admin_units_path, :remote => true do |f| %>
	<%= f.error_messages%>
	<div class="form-element-last">
		<%= f.label :name%><br>
		<%= f.text_field :name%>
	</div>
	<div class="form-buttons">
		<%= f.submit "Create" %>
  	</div>
<% end%>
</div>  