<%= form_for client, :url => client.new_record? ? admin_clients_path : admin_client_path( client ), :html => {:multipart => true} do |f|%>
	<%= f.error_messages %>
	<div class="form-element">
		<%= f.label :name%><br>
		<%= f.text_field :name%>
	</div>
	<div class="form-element">
		<%= f.label :client_type, "Type"%><br>
		<%= f.text_field :client_type%>
	</div>
	<div class="form-element">
		<%= f.label :address%><br>
		<%= f.text_area :address, :cols => 35, :rows => 3, :maxlength => 250%>
	</div>
	<div class="form-element">
		<%= f.label :primary_contact_name%><br>
		<%= f.text_field :primary_contact_name %>
	</div>
	<div class="form-element">
		<%= f.label :email%><br>
		<%= f.text_field :email%>
	</div>
	<div class="form-element">
		<%= f.label :phone%><br>
		<%= f.text_field :phone%>
	</div>
	<div class="form-element-last">
		<%= f.label :logo%><br>
		<%= f.file_field :logo%><br><br>
		<% if !client.new_record?%>
			<%= image_tag @client.logo.url%>
		<% end%>
	</div>		
	<div class="form-buttons">
		<%= f.submit client.new_record? ? 'Create Company User' : 'Update'%>
	</div>
<% end%>
