<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">EZFeed</a>
      <div class="header-nav pull-right">
        <ul class="nav pull-right">
          <% if !current_user %>
            <li><%= link_to "Sign In", user_session_path %></li>
          <% else %>
            <li><%= link_to "Welcome " + current_user.username, "#" %></li>
            <li class="dropdown" id="measurements">
              <%= link_to "#measurements", :class=>"dropdown-toggle", "data-toggle"=>"dropdown" do %>
                Measurements <b class="caret"></b>
              <% end %>
              <ul class="dropdown-menu">
                <li><%= link_to 'Measurements', superadmin_measurements_path%></li>
                <li><%= link_to 'Measure Units', superadmin_measure_units_path%></li>
              </ul>
            </li>
            <li><%= link_to "Sign out", destroy_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="header">
  <% unless !current_user %>
    <div class="current_user_info pull-right">

    </div>
  <% end %>
  <div class="clear"></div>
</div>
