<!-- Centrifugal Design -->
<%= fields_for compressor_sizing do |cs|%>
	<table width="auto">
		<tr>
			<td colspan="2">
				<fieldset style="border: 1px solid #000000;padding: 5px;width:auto;">
					<legend>Compression Path</legend>
					<%= cs.radio_button :cd_compression_path, :isentropic%>&nbsp;Isentropic&nbsp;&nbsp;
					<%= cs.radio_button :cd_compression_path, :polytropic%>&nbsp;Polytropic
				</fieldset>
			</td>						
		</tr>
		<tr>
			<td>Standard Pressure</td>
			<td><%= cs.text_field :cd_standard_pressure, :class=>"small-text-40"%>&nbsp;<label class="pressure_general_unit"></label></td>
		</tr>
		<tr>
			<td>Standard Temperature</td>
			<td><%= cs.text_field :cd_standard_temperature, :class=>"small-text-40"%>&nbsp;<label class="temperature_general_unit"></label></td>
		</tr>
		<tr>
			<td>Pressure @ Suction Nozzle</td>
			<td><%= compressor_sizing.cd_press_at_suction_nozzle%>&nbsp;<label class="pressure_general_unit"></label></td>
		</tr>
		<tr>
			<td>Pressure @ Discharge Nozzle</td>
			<td><%= compressor_sizing.cd_press_at_discharge_nozzle%>&nbsp;<label class="pressure_general_unit"></label></td>
		</tr>
		<tr>
			<td>Overall Differential Pressure</td>
			<td><%= compressor_sizing.cd_overall_differential_pressure%>&nbsp;<label class="pressure_differential_unit"></label></td>
		</tr>
		<tr>
			<td>Overall Compression Ratio</td>
			<td><%= compressor_sizing.cd_overall_compression_ratio%></td>
		</tr>
		<tr>
			<td>Compression Ratio Per Section</td>
			<td><%= cs.text_field :cd_compression_ratio_per_section, :class=>"small-text-40"%></td>
		</tr>
		<tr>
			<td>Max Allowable Discharge Temperature</td>
			<td><%= cs.text_field :cd_max_allowable_discharge_pressure, :class=>"small-text-40"%>&nbsp;<label class="pressure_general_unit"></label></td>
		</tr>
	</table>

	<div class="centrifugal_designs_div">
		<div class="centrifugal_design_header" style="float:left;">
			<table style="width:auto;">
				<tr>
					<td><b>Mechanical Specification</b></td>
				</tr>
				<tr>
					<td>Section Number</td>
				</tr>
				<tr>
					<td>Compression Ratio</td>
				</tr>
				<tr>
					<td><b>Suction Conditions</b></td>
				</tr>
				<tr>
					<td>Suction Stream</td>
				</tr>
				<tr>
					<td>Suction Pressure&nbsp;<label class="pressure_general_unit"></label></td>
				</tr>

				<tr>
					<td>Suction Temperature&nbsp;<label class="temperature_general_unit"></label></td>
				</tr>
				<tr>
					<td>Suction Mass Flow Rate&nbsp;<label class="mass_flow_rate_general_unit"></label></td>
				</tr>

				<tr>
					<td>Suction Vapor MW</td>
				</tr>
				<tr>
					<td>Suction Vapor Z</td>
				</tr>							
				<tr>
					<td>Suction Vapor K</td>
				</tr>
				<tr>
					<td><b>Discharge Conditions</b></td>
				</tr>
				<tr>
					<td>Discharge Stream</td>
				</tr>
				<tr>
					<td>Discharge Pressure&nbsp;<label class="pressure_general_unit"></label></td>
				</tr>
				<tr>
					<td>Discharge Temperature&nbsp;<label class="temperature_general_unit"></label></td>
				</tr>
				<tr>
					<td>Discharge Vapor Z</td>
				</tr>
				<tr>
					<td>Discharge Vapor K</td>
				</tr>
				<tr>
					<td><b>Interstage System</b></td>
				</tr>
				<tr>
					<td>Interstage Piping </td>
				</tr>
				<tr>
					<td>Interstage &Delta;P&nbsp;<label class="pressure_differential_unit"></label></td>
				</tr>
				<tr>
					<td><b>Power Requirement</b></td>
				</tr>
				<tr>
					<td>Differential Pressure&nbsp;<label class="pressure_differential_unit"></label></td>
				</tr>
				<tr>
					<td>Differential Head&nbsp;<label class="length_large_dimension_length_unit"></label></td>
				</tr>
				<tr>
					<td>Safety Factor&nbsp;<label class="length_large_dimension_length_unit"></label></td>
				</tr>
				<tr>
					<td>Required Differential Head&nbsp;<label class="length_large_dimension_length_unit"></label></td>
				</tr>
				<tr>
					<td>Max Head Per Stage</td>
				</tr>
				<tr>
					<td>No of Stages</td>
				</tr>
				<tr>
					<td>Actual Head Per Stage</td>
				</tr>
				<tr>
					<td>Efficiency <input id="effciency_graph" type='button' style="background-color:red;width:24px;float:right;"></td>
				</tr>
				<tr>
					<td>Flow Rate</td>
				</tr>
				<tr>
					<td>Gas HP&nbsp;<label class="horsepower_general_unit"></label></td>
				</tr>
				<tr>
					<td>Mechanical Losses</td>
				</tr>
				<tr>
					<td>Brake Horsepower&nbsp;<label class="horsepower_general_unit"></td>
					</tr>
					<tr>
						<td>Nominal Speed&nbsp;<label class="revolution_speed_general_unit"></td>
						</tr>
						<tr>
							<td>Speed&nbsp;<label class="revolution_speed_general_unit"></label>
							</td>
						</tr>
					</table>
				</div>

				<div class="centrifugal_design_fields" style="float:left;">
					<% if compressor_sizing.compressor_centrifugal_designs.empty?%>
						<div class="centrifugal_design_field" style="float:left;">
							<table style="width:auto;" class='1'>
								<tr>
									<td style="text-align:right;"><%= link_to "x", "#", :class=>"close_centrifugal_design_field"%></td>
								</tr>
								<tr>
									<td style="text-align:center;">
										<b>1</b>
										<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][1][id]", "", :id => "compressor_centrifugal_design_id_1" %>
										<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][1][delete]", false, :id => "compressor_centrifugal_design_delete_1", :class=>"compressor_centrifugal_design_delete" %>
									</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][compression_ratio]", "", :id => "centrifugal_design_compression_ratio_1"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, '')), :id => "centrifugal_design_suction_stream_1", :style=>"width:100px;"%></td>
								</tr>								
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_pressure]", "", :id => "centrifugal_design_suction_pressure_1", :class => 'required' %></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_temperature]", "", :id => "centrifugal_design_suction_temperature_1", :class => 'required' %></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_mass_flow_rate]", "", :id => "centrifugal_design_suction_mass_flow_rate_1", :class => 'required' %></td>
								</tr>

								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_vapor_mw]", "", :id => "centrifugal_design_suction_vapor_mw_1", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_vapor_z]", "", :id => "centrifugal_design_suction_vapor_z_1", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][suction_vapor_k]", "", :id => "centrifugal_design_suction_vapor_k_1", :class => 'required'%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][1][discharge_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, '')), :id => "centrifugal_design_discharge_stream_1", :style=>"width:100px;"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][discharge_vapor_z]", "", :id => "centrifugal_design_discharge_vapor_z_1", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][discharge_vapor_k]", "", :id => "centrifugal_design_discharge_vapor_k_1", :class => 'required'%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><input type="button" value="Piping" class="centrifugal_design_piping_btn" row_id="1">&nbsp;
										<input type="button" value="Calculate" class="cd_piping_calculate" id="not_saved">
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][interstage_dp]", "", :id => "centrifugal_design_interstage_dp_1"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][efficiency]", "", :id => "centrifugal_design_efficiency_1"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp; </td>
								</tr>								
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][1][speed]", "", :id => "centrifugal_design_speed_1"%>
										<input type="button" value="Calculate" class="cd_section_calculate" id="not_saved">
									</td>
								</tr>
							</table>		
						</div>	
					<% end%>
					<% compressor_sizing.compressor_centrifugal_designs.each_with_index do |ccd, i|%>
						<div class="centrifugal_design_field" style="float:left;">
							<table style="width:auto;" class="<%= ccd.id %>">
								<tr>
									<td style="text-align:right;"><%= link_to "x", "#", :class=>"close_centrifugal_design_field"%></td>
								</tr>
								<tr>
									<td style="text-align:center;">
										<b><%= i+1%></b>
										<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][id]", ccd.id, :id => "compressor_centrifugal_design_id_#{i+1}" %>
										<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][delete]", false, :id => "compressor_centrifugal_design_delete_#{i+1}", :class=>"compressor_centrifugal_design_delete" %>
									</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][compression_ratio]", ccd.compression_ratio, :id => "centrifugal_design_compression_ratio_#{i+1}"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, ''), ccd.suction_stream), :id => "centrifugal_design_suction_stream_#{i+1}", :style=>"width:100px;"%></td>
								</tr>								
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_pressure]", ccd.suction_pressure, :id => "centrifugal_design_suction_pressure_#{i+1}", :class => 'required'%></td>
								</tr>

								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_temperature]", ccd.suction_temperature, :id => "centrifugal_design_suction_temperature_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_mass_flow_rate]", ccd.suction_mass_flow_rate, :id => "centrifugal_design_suction_mass_flow_rate_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_vapor_mw]", ccd.suction_vapor_mw, :id => "centrifugal_design_suction_vapor_mw_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_vapor_z]", ccd.suction_vapor_z, :id => "centrifugal_design_suction_vapor_z_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][suction_vapor_k]", ccd.suction_vapor_k, :id => "centrifugal_design_suction_vapor_k_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][discharge_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, ''), ccd.discharge_stream), :id => "centrifugal_design_discharge_stream_#{i+1}", :style=>"width:100px;"%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][discharge_vapor_z]", ccd.discharge_vapor_z, :id => "centrifugal_design_discharge_vapor_z_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][discharge_vapor_k]", ccd.discharge_vapor_k, :id => "centrifugal_design_discharge_vapor_k_#{i+1}", :class => 'required'%></td>
								</tr>
								<tr>
									<td>&nbsp;</td>
								</tr>
								<tr>
									<td>
										<input type="button" value="Piping" class="centrifugal_design_piping_btn" row_id="<%= i+1%>">
										<input type="button" value="Calculate" class="cd_piping_calculate" id="<%= ccd.id %>">
									</td>
								</tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][interstage_dp]", ccd.interstage_dp, :id => "centrifugal_design_interstage_dp_#{i+1}"%></td>
								</tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][efficiency]", ccd.efficiency, :id => "centrifugal_design_efficiency_#{i+1}"%></td>
								</tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp;</td> </tr>
								<tr> <td>&nbsp; </td> </tr>								
								<tr> <td>&nbsp;</td> </tr>
								<tr>
									<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#{i+1}][speed]", ccd.speed, :id => "centrifugal_design_speed_#{i+1}"%>
										<input type="button" value="Calculate" class="cd_section_calculate" id="<%= ccd.id %>">
									</td>
								</tr>
							</table>		
						</div>
					<% end%>						
				</div>
				<div class="clear"></div>				
			</div>
			<%= link_to "Add More", "#", :id => "add_new_centrifugal_design_column"%>

			<div class="hidden" id="new_centrifugal_design_field">
				<div class="centrifugal_design_field" style="float:left;">
					<table style="width:auto;" class="#x#">
						<tr>
							<td style="text-align:right;"><%= link_to "x", "#", :class=>"close_centrifugal_design_field"%></td>
						</tr>
						<tr>
							<td style="text-align:center;">
								<b>#x#</b>
								<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][id]", "", :id => "compressor_centrifugal_design_id_#x#" %>
								<%= hidden_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][delete]", false, :id => "compressor_centrifugal_design_delete_#x#", :class=>"compressor_centrifugal_design_delete" %>
							</td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][compression_ratio]", "", :id => "centrifugal_design_compression_ratio_#x#"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, '')), :id => "centrifugal_design_suction_stream_#x#", :style=>"width:100px;"%></td>
						</tr>								
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_pressure]", "", :id => "centrifugal_design_suction_pressure_#x#"%></td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_temperature]", "", :id => "centrifugal_design_suction_temperature_#x#"%></td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_mass_flow_rate]", "", :id => "centrifugal_design_suction_temperature_#x#"%></td>
						</tr>

						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_vapor_mw]", "", :id => "centrifugal_design_suction_vapor_mw_#x#"%></td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_vapor_z]", "", :id => "centrifugal_design_suction_vapor_z_#x#"%></td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][suction_vapor_k]", "", :id => "centrifugal_design_suction_vapor_k_#x#"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= select_tag "compressor_sizing[compressor_centrifugal_designs][#x#][discharge_stream]", options_for_select(Stream.get_stream_nos_by_process_basis(compressor_sizing.process_basis_id).collect{|p| [p.display_stream_no, p.stream_no]}.insert(0, '')), :id => "centrifugal_design_discharge_stream_#x#", :style=>"width:100px;"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][discharge_vapor_z]", "", :id => "centrifugal_design_discharge_vapor_z_#x#"%></td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][discharge_vapor_k]", "", :id => "centrifugal_design_discharge_vapor_k_#x#"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>
								<input type="button" value="Piping" class="centrifugal_design_piping_btn" row_id="#x#">
								<input type="button" value="Calculate" class="cd_piping_calculate" id="not_saved">
							</td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][interstage_dp]", "", :id => "centrifugal_design_interstage_dp_#x#"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][efficiency]", "", :id => "centrifugal_design_efficiency_#x#"%></td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td>&nbsp; </td>
						</tr>
						<tr>
							<td>&nbsp;</td>
						</tr>
						<tr>
							<td><%= text_field_tag "compressor_sizing[compressor_centrifugal_designs][#x#][speed]", "", :id => "centrifugal_design_speed_#x#"%>
										<input type="button" value="Calculate" class="cd_section_calculate" id="not_saved">
							</td>
						</tr>
					</table>
				</div>
			</div>
		<% end%>
