<div>
	<div class="form-element">
		<%= f.label :hydraulic_power_recovery_turbine_efficiency%><br>
		<%= f.text_field :hydraulic_power_recovery_turbine_efficiency%>&nbsp;%
	</div>
	<div class="form-element">
		<%= f.label :hydraulic_power_recovery_turbine_design_safety_factor%><br>
		<%= f.text_field :hydraulic_power_recovery_turbine_design_safety_factor%>&nbsp;%
	</div>
	<div class="form-element-last">
		<%= f.label :turbo_expander_efficiency%><br>
		<%= f.text_field :turbo_expander_efficiency%>&nbsp;%
	</div>
</div>	