<!DOCTYPE html>
<html>
	<head>
		<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
		<%= stylesheet_link_tag "jquery-ui", "bootstrap" %>
		<%= stylesheet_link_tag "simple-tabs", "/javascripts/tablecloth/tablecloth", "colorbox", "jquery.loadmask" %>
		<%= stylesheet_link_tag "application" %>
		<%= javascript_include_tag "jquery", "jquery_ujs", "jquery-ui", "bootstrap" %>
		<%= javascript_include_tag "simple-tabs", "jquery.colorbox-min", "jquery.livequery", "jquery.dirtyforms", "jquery.format.1.05", "jquery.glow", "jquery.loadmask", "jquery.jqplot", "jqplot.canvasAxisLabelRenderer.min.js", "jqplot.canvasTextRenderer.min.js" %>
		<%= javascript_include_tag "application", "admin" %>
		<%= javascript_include_tag "/admin/sizing_data.js" %>
		<%= yield(:head) %>
		<%= csrf_meta_tag %>
	</head>
	<body>
		<%= render :partial => 'shared/header'%>
		<div class="breadcrumb-nav">
			<%= render :partial => 'admin/breadcrumb'%>
		</div>
		<div id="container">
			<% flash.each do |name, msg| %>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
			<%= content_tag :h2, yield(:title) if show_title? %>
			<%= yield %>
		</div>
		<%= render :partial => "shared/footer"%>
	</body>
</html>
