<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag "simple-tabs", "/javascripts/tablecloth/tablecloth", "colorbox", "jquery.loadmask" %>
    <%= stylesheet_link_tag "application", "superadmin" %>
    <%= javascript_include_tag "jquery", "jquery_ujs", "bootstrap" %>
    <%= javascript_include_tag "simple-tabs", "jquery.colorbox-min", "jquery.livequery", "jquery.dirtyforms", "jquery.format.1.05", "jquery.glow", "jquery.loadmask" %>
    <%= javascript_include_tag "application", "superadmin" %>
    <%= csrf_meta_tag %>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render :partial => 'shared/superadmin_header'%>
    <div class="breadcrumb-nav">
      <%= render :partial => 'admin/breadcrumb'%>
    </div>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <% end %>
      <%= content_tag :h1, yield(:title) if show_title? %>
      <%= yield %>
    </div>
    <%= render :partial => "shared/footer"%>
  </body>
</html>
